<div class="container">
    <div class="panel border">
        <div class="panel-header fill">Room</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 element-padding">
                    Switch 1
                </div>
                <div class="col-sm-4 element-padding">
                    <button class="btn-success" data-bind="click: $component.switchOn">On</button>
                </div>
                <div class="col-sm-4 element-padding">
                    <button class="btn-danger" data-bind="click: $component.switchOff">Off</button>
                </div>
            </div>
        </div>
    </div>
</div>
